body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222222;
 }
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    gap: 160px;
} 
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

.slides {
    margin-left: 121px;
    margin-top: 37px;
}
.teh-logo{
    margin-bottom: 85px;
    width: 295px;
    height: 41px;
}
.info {
    display: flex;
    gap: 161px;
    margin-bottom: 76px;
}
.info-lang-img{
    display: flex;
}
.infoes1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100px;
    height: 63px;
}
.infoes2{
    width: 227px;
    height: 63px;
    display: flex;
    flex-direction: column;
    gap: 5px;        
}
.infoes-infoes{
    width: 53px;
    height: 29px;
    font-family: TT Hoves;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.4px;
    text-align: left;
        width: 131px;
    height: 29px;
}
.infoes-infoes1{
    width: 53px;
    height: 29px;
    font-family: TT Hoves;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.4px;
    text-align: left;
    font-family: TT Hoves;
    font-size: 21px;
    font-weight: 700;
    line-height: 29.4px;
    text-align: left;
    width: 227px;
    height: 29px;
}
.programming-languages{
    width: 778px;
    height: 88px;
    font-family: Chava;
    font-size: 80px;
    font-weight: 400;
    line-height: 88px;
    text-align: left;
    /* Почему-то h1 не прилегает, я немного отталкивается от section без этого параметра */
    margin-left: -10px;
}
.verstalshik-info {
    width: 930px;
    height: 190px;
    font-family: TT Hoves;
    font-size: 27px;
    font-weight: 300;
    line-height: 37.8px;
    text-align: left;
}
.knopki{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.knopka{
    border: none;
    border-radius: 20px;
    width: 328px;
    height:61px;
    background-color:#6E3ABA;
    color:white;
}
.knopka-white-start{
    border: 1px solid #6E3ABA;
    border-radius: 20px;
    width: 328px;
    height:61px;
    background-color:white;
    color:#6E3ABA;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

.timer{
    background-color: #6E3ABA;
    padding: 80px 193px 88px 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 57px;
    align-items: center;
}
#discount {
    width: 750px;
    height: 61px;
    font-family: TT Hoves;
    font-size: 52px;
    font-weight: 700;
    line-height: 61.26px;
    letter-spacing: 0.03em;
    color: white;
    text-align: center;    
}

.numbers{
    width: 87px;
    height: 66px;
    font-family: Chava;
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    text-align: left;    
    color: #2F1D4E;  
}
.time{
    width: 74px;
    height: 32px;
    font-family: TT Hoves;
    font-size: 27px;
    font-weight: 500;
    line-height: 31.81px;
    text-align: left;
    
}
.numbers{
    width: 251px;
    height: 187px;
    font-family: 'Chava', sans-serif;
    font-family: Chava;
    font-size: 174px;
    font-weight: 400;
    line-height: 187.05px;
    text-align: left;

}
#timers-dates{
    width: 923px;
    height: 219px;
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.timer-date{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.knopka-white{
    border:none;
    border-radius: 20px;
    width: 328px;
    height:61px;
    background-color:white;
    color:#6E3ABA;
    margin-top: 20px;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

.courseProgram {
    border: 2px solid black;
    margin: 0px 23.5px;
    padding: 80px 52px 35px 64px;
    position: relative;
}
.ProgramaCursa {
    width: 610px;
    height: 68px;
    font-family: TT Hoves;
    font-size: 58px;
    font-weight: 500;
    line-height: 68.32px;
    letter-spacing: 0.01em;
    text-align: left;           
    }
.lessons {
    width: 949px;
    height: 438px;  
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.lessons li {
        
    border-bottom: 1px solid gray;
    padding-bottom: 24px;
    margin-top: 24px;
}

.desktop{
    width: 424px;
    height: 61px;
    /* Я пытался как мог. Эта кнопка просто не централизуется */
    margin-left: 428px ;
}
.phone{
    display: none;
    margin: 30px auto 0;
    width:  328px;
    height:  61px;
}
#corner {
    width: 50px;
    position:absolute;
    top: -3px;
    right: -3px;
}






@media (max-width: 376px){
    main {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .img-desktop{
        display: none;
    }
    .img-phone {
        display: inline;
        width: 179px;
        height: 144px;
    }
    .slides {
        margin: 0px;
        margin-left: 24px;
        margin-top: 40px;
    }
    .teh-logo{
        width: 215.14px;
        height: 30px;
        margin: 0px;
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 48px;
        margin-top: 28px;
    }
    .info-lang-img{
        display: flex;
        gap: 0px;
    }
    .info-img{
        display: flex;
        flex-direction: row;
    }
    .infoes1{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100px;
        height: 63px;
    }
    .infoes2{
        width: 227px;
        height: 63px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    
    }
    .infoes-infoes{
        width: 53px;
        height: 29px;
        font-family: TT Hoves;
        font-size: 21px;
        font-weight: 400;
        line-height: 29.4px;
        text-align: left;
        width: 131px;
        height: 29px;
    }
    .infoes-infoes1{
        width: 53px;
        height: 29px;
        font-family: TT Hoves;
        font-size: 21px;
        font-weight: 400;
        line-height: 29.4px;
        text-align: left;
        font-family: TT Hoves;
        font-size: 21px;
        font-weight: 700;
        line-height: 29.4px;
        text-align: left;
        width: 227px;
        height: 29px;
    }
    .programming-languages{
        width: 333px;
        height: 46px;
        font-family: Chava;
        font-size: 42px;
        font-weight: 400;
        line-height: 46.2px;
        text-align: left;
        margin: 0px;
        margin-bottom: 20px;
    }
    .verstalshik-info {
        width: 328px;
        height: 250px;
        font-family: TT Hoves;
        font-size: 18px;
        font-weight: 300;
        line-height: 25.2px;
        text-align: left;        
    }
    .knopki{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .knopka{
        border: none;
        border-radius: 20px;
        width: 328px;
        height:61px;
        background-color:#6E3ABA;
        color:white;
    }
    .knopka-white-start{
        border: 1px solid #6E3ABA;
        border-radius: 20px;
        width: 328px;
        height:61px;
        background-color:white;
        color:#6E3ABA;
    }
    /* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

    .timer{
        background-color: #6E3ABA;
        padding: 40px 23px 41px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
    #discount {
        width: 330px;
        height: 80px;
        font-family: TT Hoves;
        font-size: 34px;
        font-weight: 700;
        line-height: 40.05px;
        letter-spacing: 0.02em;
        text-align: center;         
    }
    
    .numbers{
        width: 87px;
        height: 66px;
        font-family: Chava;
        font-size: 60px;
        font-weight: 400;
        line-height: 66px;
        text-align: left;
         
    }
    .time{
        width: 28px;
        height: 12px;        
        font-family: TT Hoves;
        font-size: 10px;
        font-weight: 500;
        line-height: 11.78px;
        text-align: center;
        
    }
    #timers-dates{
        width: 322px;
        height: 78px;     
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
    .timer-date{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .knopka-white{
        border:none;
        border-radius: 20px;
        width: 328px;
        height:61px;
        background-color:white;
        color:#6E3ABA;
        margin-top: 20px;
    }
    #buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        

    /* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

    .courseProgram {
        border: 2px solid black;
        margin: 0px 23.5px;
        padding: 40px 28.5px 23px 19.5px;
        position: relative;
    }
    .ProgramaCursa {
        width: 242px;
        height: 80px;
        font-family: TT Hoves;
        font-size: 34px;
        font-weight: 500;
        line-height: 40.05px;
        letter-spacing: 0.01em;
        text-align: left;        
       }
    .lessons {
        list-style-type: none;
        width: 280px;
        height: 438px;
        margin: 0px;
        padding: 0px;
    }
    .lessons li {
        border-bottom: 1px solid gray;
        padding-bottom: 24px;
        margin-top: 24px;
    }

    .desktop{
        width: 328px;
        height: 61px;
    }
    .phone{
        display: none;
        margin: 30px auto 0;
        width: 328px;
        height: 61px;
        
    }
    #corner {
        width: 50px;
        position:absolute;
        top: -3px;
        right: -3px;
    }
    .desktop {
        display: none;
    }
    .phone{
        display:block;
    }
 }
